.app {
  text-align: center;
  background-color: var(--app-background-color);
  min-height: 100vh;
}

.container {
  font-size: 1.2rem;
  width: min(500px, 80%);
  margin: 0 auto;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
}

.input {
  background-color: var(--element-background-color);
  border: none;
  border-radius: var(--base-radius);
  border: 2px solid var(--border-color);
  color: var(--text-color);
  width: 100%;
  height: 48px;
  padding: 16px;
  font-size: 1.2rem;
}

.info-article {
  width: 100%;
  background-color: var(--element-background-color);
  color: var(--text-color);
  padding: 24px;
  border-radius: var(--base-radius);
  margin-top: 8px;
  border: 1px solid var(--border-color);
}

.heading {
  color: var(--text-color);
  margin: 0;
  padding-top: 24px;
}
